*{margin:0;padding: 0;}
html,body{-webkit-app-region: drag;}
h3{margin-top: 0;}
.main{width: 200px; height: 280px;background:#AFEF82;border: 2px solid black;}
.settings,.closed,.button-sound{-webkit-app-region: no-drag;}
